:root {
    --text-color: white;
    --border-color: white;
    --background-color: #404050;
    --hover-color: #ffffff4d;
    --navbar-background-color: #292930;
    --footer-background-color: #292930;
    --highlighted-color: #00ffff4d;
    
    --button-text-color: white;
    --button-background-color: gray;
    --button-hover-color: #2e2d2d;
    --secondary-button-text-color: white;

    --theme: dark;
    --transition-duration: 0s;
    --client-prefered-theme:dark; /* don't add spaces, will not work */
    --isthemeset: false;
}

@media (prefers-color-scheme: dark) {
    :root {
        --client-prefered-theme:dark; /* don't add spaces, will not work */
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --client-prefered-theme:light; /* don't add spaces, will not work */
    }

    [data-isthemeset="false"] {
        --text-color: black;
        --border-color: black;
        --background-color: beige;
        --hover-color: #c3c3aa;
        --navbar-background-color: gray;
        --footer-background-color: gray;
        --highlighted-color: #00ffff4d;

        --button-text-color: white;
        --button-background-color: black;
        --button-hover-color: #2e2d2d;
        --secondary-button-text-color: white;

        --theme: light;
    }
}

[data-theme="light"] {
    --text-color: black;
    --border-color: black;
    --background-color: beige;
    --hover-color: #c3c3aa;
    --navbar-background-color: gray;
    --footer-background-color: gray;
    --highlighted-color: #00ffff4d;

    --button-text-color: white;
    --button-background-color: gray;
    --button-hover-color: #2e2d2d;
    --secondary-button-text-color: white;

    --theme: light;
}

[data-loaded="true"] {
    --transition-duration: 1s;
    --button-transition-duration: 1s;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans";
    
    color: var(--text-color);
    background-color: var(--background-color);
    transition: color var(--transition-duration);
    transition: background-color var(--transition-duration);
}

.navbar {
    font-size: 2rem;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;

    background-color: var(--navbar-background-color);
    transition: background-color var(--transition-duration);
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: inline;
}

.navbar li {
    display: inline;
    padding: 0 1%;
}

a {
    color: aqua;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em;
    background-size: auto;

    color: var(--text-color);
    transition: color var(--transition-duration);
}

.navbar a:hover {
    background-color: var(--hover-color);
}

.highlighted {
    background-color: var(--highlighted-color);
    transition: background-color var(--transition-duration);
}

.content {
    font-size: 1.5rem;
    text-align: center;
}

.title-header {
    font-size: 250%;
}

.footer {
    font-family: "Open Sans";
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: right;
    padding: 1%;
    
    color: var(--text-color);
    background-color: var(--footer-background-color);
    
    transition: color var(--transition-duration);
    transition: background-color var(--transition-duration);
}

.button {
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 0 1%;

    color: var(--button-text-color);
    background-color: var(--button-background-color);
}

.button:hover {
    color: var(--secondary-button-text-color);
    background-color: var(--button-hover-color);
}